.heroImage {
  height: calc(100vh - var(--header-height-desktop));
  width: 100%;
  position: relative;
  padding: 5%;
  overflow: hidden;
}

.heroText {
  position: relative;
  top: 66%;
  width: 100%;
  text-align: left;
  color: white;
}

.heroText h1 {
  font-size: 4vw;
  line-height: 70px;
  margin-bottom: 5px;
}

.categorySlider {
  padding: 20px 40px;
}

.productList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 160px 100px;
}

.viewAllProducts {
  display: flex;
  justify-content: center;
  height: 25vh;
}

.viewAllProductsLink {
  background-color: transparent;
  color: var(--primary-color);;
  border: 1px solid var(--primary-color);
  padding: 20px 40px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.viewAllProductsLink:hover {
  background-color: var(--primary-color);
  color: #fff;
}

@media (max-width: 600px) {
  .heroImage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; 
    background: rgba(0, 0, 0, 0.3); 
    z-index: 1;
  }

  .heroImage {
    height: calc(100vh - var(--header-height-mobile));
  }

  .heroText {
    top: 72%;
    z-index: 2;
  }

  .heroText h1 {
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .categorySlider {
    padding: 40px 10px;
  }

  .productList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px 20px;
  }

  .viewAllProducts {
    padding: 20px;
  }

  .viewAllProducts div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
